@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--light);
  font-family: "Lato", "Source Sans Pro", sans-serif;
  color: var(--dark);
}

.hero {
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.hero-bg {
  /* background: url(../img/landing-main.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  box-shadow: inset 0 -13px 20px rgba(0, 0, 0, 0.25);*/
  background-color: var(--light);
  height: 100vh;
}

#title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 7em;
  font-family: "Rockwell", "Source Sans Pro", sans-serif;
}

.hero .slogan {
  font-size: 2.2em;
}

.snow-bg {
  background-color: snow;
}

.whatwedo,
.values {
  padding-top: 5em;
  padding-bottom: 5em;
}

.section-heading {
  font-weight: bold;
  font-size: 3.2em;
}

.underline--magical {
  background-image: linear-gradient(120deg, #ffc100 0%, #dfa700 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.4s ease-in;
}
.underline--magical:hover {
  background-size: 100% 88%;
}

section p {
  font-size: 1.5em;
}

.thumbnail {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 0.5em;
  background-color: snow;
}
