body,
html {
  height: 100%;
  margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}

.bg {
  padding-top: 4em;
  padding-bottom: 6em;

  /* The image used */
  background-image: url("../img/bg.jpg");
  width: 100%;

  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-toggler {
  border: 0;
}

.search {
  background-color: white;
  border: none;
  border-radius: 25px;
  width: 100%;
  padding: 1.5em 1em 1.5em 1em;
}

.search:hover,
.search:active,
.search:focus {
  background-color: white;
  border: none;
}


.restaurant-container {
  margin-top: -9.5em;
}

#main-logo {
  text-shadow: -2px 2px 10px rgba(0, 0, 0, 0.4);
  font-size: 4em;
}

/* restaurant cards */
.restaurant-card {
  display: none;
  background-color: white;
  margin: 0.2em;
}

.restaurant-card .name {
  color: var(--primary);
  font-size: 1.5em;
  font-weight: bold;
}

.restaurant-card .location {
  color: var(--dark);
  font-size: 1.2em;
  line-height: 0.5;
}

.restaurant-card .ingredients {
  font-size: 1em;
  color: var(--secondary);
}

.restaurant-card .ingredients .hidden {
  display: none;
}

.restaurant-card .ingredients .more {
  font-weight: bold;
}

/* media queries */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #main-logo {
    font-size: 5em;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #main-logo {
    font-size: 6em;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #main-logo {
    font-size: 7em;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
