body,
html {
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}

.bg {
  /* The image used */
  background-image: url("../img/bg.jpg");

  min-height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container-fluid {
  padding-top: 6em;
}

.contact-form h3 {
  padding-bottom: 0.2em;
}

.card-body h4 {
  color: var(--primary);
  padding-top: 0.4em;
}

.card-header h1 b {
  color: var(--primary);
}

.check {
  margin-top: -0.5em;
}