// theme
$theme-bright: #fece4e;
$theme: #ffb72c;
$theme-darker: #fe9f1c;
$theme-darkest: #e18602;
$dark-brightest: #093d4b;
$dark-bright: #002833;
$dark: #002b36;
$dark-dark: #00181f;
$body-bg: $dark-brightest;

// navbar
$navbar-bg: $dark;
$navbar-bg-secondary: #00181f;
$navbar-text: #eee;
$navbar-text-secondary: #aaa;
$navbar-accent: $theme-darker;

// browser-side
$selection-color: $theme;
$scrollbar-track: $dark;
$scrollbar-handle: $theme-darker;
$scrollbar-handle-hover: $theme;
